@media (max-width: 500px){
    .container h1{font-size: 28px;text-align: center;}

    .input-box input{
        width: 89%;
        padding: 20px 20px 20px 20px;
    }

    .container{
        padding: 200px 30px 1px 30px;
    }
}